apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - name: migration-part-1
    namespace: database
    files:
      - ../base/public/V1__add_uuid_ossp.sql
      - ../base/public/V2__create_table_stock_picking.sql
      - ../base/public/V3__create_table_debezium_heartbeat.sql
      - ../base/public/V4__add_replica_identity_to_stock_picking.sql

resources:
  - postgres-migration-secrets.yaml
  - ../base/postgres-migration.yaml
